{{#each productos}}
<div class="col-sm-12 col-md-6 col-lg-4 mb-3">
  <div class="card">
    <img src="/imagenes/{{this.imagen}}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{this.nombre}}</h5>
      <p class="card-text">{{this.descripcion}}</p>
    </div>
   
    <div class="card-body">

      <div id="precios">
        <div class="row">
          <div class="col-sm-12 col-md-4 text-left mt-2">
            <h4>Precio Normal</h4>
            <p>{{this.precio}}</p>
          </div>
          
        </div>
        </div>

      <div id="acciones">
        <div class="row">
          <div class="col-sm-12 col-md-6 text-center mt-2">
            <a href="producto/{{this.id}}" class="btn btn-primary">Descripción</a>
          </div>
          <div class="col-sm-12 col-md-6 text-center mt-2">
            <a href="#" class="btn btn-danger" data-sku="{{this.id}}" onclick="addToCart('{{this.id}}')">Añadir al
              Carro</a>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
{{/each}}